*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --cobalt-turqoise: #006D77;
  --middle-blue-green: #83C5BE;
  --cool-grey: #EDF6F9;
  --pinkish-vanilla: #FFDDD2;
  --dark-salmon: #E29578;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Courier New', Courier, monospace;
  background-color: var(--cool-grey);
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: var(--cobalt-turqoise);
}

.card {
  background-color: var(--middle-blue-green);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: var(--cobalt-turqoise) 0px 2px 8px 0px;
  color:var(--cobalt-turqoise);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: var(--pinkish-vanilla);
  height: 2px;
}

.card-body {
  min-height: 100px;
}

.card-footer {
  text-align: center;
}

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: var(--pinkish-vanilla);
  height: 2px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.btn {
  border: none;
  background-color:var(--dark-salmon);
  border-radius: 25px;
  box-shadow: 1px 1px 6px 0px var(--cobalt-turqoise); 
  color: var(--pinkish-vanilla);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

button[disabled] {
  cursor: default;
  background: var(--pinkish-vanilla);
}

.float-right {
  float: right;
}

#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed var(--cobalt-turqoise);
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

textarea {
  color: var(--cool-grey);
}

::placeholder{
  color: var(--cobalt-turqoise)
}

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}
